body {
  background-color: #0f172a;
  color: #e2e8f0;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 40px auto;
  line-height: 1.6;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.music-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 15px;
  opacity:0.8;
}
.music-container audio {
  margin-top: 8px;
  width: 200px;
}
/* tombol gede dan pastinya eye-friendly */
.music-btn {
  font-size: 14px;
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(0,0,0,0.6);
  color: #e2e8f0
}
.music-btn:active {
  transform: scale(0.95);
}

.photo-card {
  margin-top: 15px;
  padding: 10px;

  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
}

.photo-card img {
  width: 100%;
  border-radius: 10px;
}

.photo-caption {
  margin-top: 8px;
  font-size: 20px;
  opacity: 0.8;
}

.photo-card:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

iframe {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  margin-left: 0;
  margin-right: auto;
}